<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHumanReadableCopyright</key>
	<string>Piotr Goj</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string>camomile</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>guns</string>
	<key>CFBundleName</key>
	<string>Guns</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.6</string>
	<key>CFBundleVersion</key>
	<string>1.0.6</string>
	<key>CFBundleSpokenName</key>
	<string>Guns</string>
</dict>
</plist>
